<div class="navbar">
    <div class="navbar-inner">
        <span class="brand">{{defaults.domain}}</span>
        <ul class="nav">
            <li ng-class="{active: $location.path()=='/'}"><a href="/">{{__.home | i18n}}</a></li>
            <li ng-class="{active: $location.path()=='/profile'}" ng-show="user.auth.in"><a href="/profile">{{__.profile | i18n}}</a></li>

        </ul>
        <ul class="nav pull-right">
            <li class="pull-right"> <a href="" ng-click="user.interfaceLanguage=!user.interfaceLanguage"><i class="icon-globe icon-large"></i>En/My</a></li>
            <li ng-hide="user.auth.in" class="pull-right"><input type="button" value="Login" class="btn btn-primary" ng-click="user.auth.in=true"></li>
            <li ng-show="user.auth.in" class="pull-right"><input type="button" value="Logout" class="btn btn-primary" ng-click="user.auth.in=false;$location.path('/')"></li>
        </ul>
    </div>
</div>