<div ng-click="expand=!expand">{{u | username }} {{u.phone}}
    <div ng-show="expand" class="row">
        <div class="span2">
            <i class="icon-globe" style="color:#6495ed"></i> {{__.language | i18n:user}}
            <div ng-repeat="(code,value) in u.lang" ng-show="value">{{code | capitalize}} : <i
                    class='{{value | showLang}}'></i>
            </div>
        </div>
        <div class="span2">
            <div><i class="icon-home"></i> : {{u.location}}</div>
            <div><i class="icon-meh"></i> : {{u.age}}{{__.years | i18n:user}}</div>
            <div><i class="icon-money" style="color:#008000;"></i> : {{u.rate}}/{{__.hour | i18n:user}}</div>
            {{__.education | i18n }} :
            <span ng-show="u.education.stm" tooltip="{{__.school | i18n}}"><i class="icon-book" style="color: blue"></i></span>
    <span ng-show="u.education.bachelor" tooltip="{{__.bachelor | i18n}}"><i class="icon-bookmark"
                                                                             style="color: red"></i></span>
        </div>

    </div>
</div>