<div class="container">
    <h2>Profile: {{user | username}}</h2>

    <p>Please fill in your profile. It will be published as soon as you complete it.</p>
    <label>Name:</label>
        <input type="text" ng-model="user.name.first" placeholder="First name">
        <input type="text" ng-model="user.name.middle" placeholder="Middle name">
        <input type="text" ng-model="user.name.last" placeholder="Last name">
    <label class="checkbox">Hide last name:<input type="checkbox" ng-model="user.name.shy"></label>
    <label>Mobile phone:
    <span class="input-prepend">
        <span class="add-on">+6</span>
        <input class="span2" type="text" ng-model="user.phone" placeholder="+6 016 999 99 99">
    </span>
    </label>
    <label>Age:
        <input class="input-mini" type="number" ng-model="user.age" step="1"></label>
    <label>Your rate RM/hour: <input class="input-mini" type="number" ng-model="user.rate" value="0" step="0.1"
                                     width="1px"></label>

    <label>Location: <select ng-model=user.location>
        <option ng-repeat="loc in defaults.locations">{{loc}}</option>
    </select></label>
    <h5>Language proficency:</h5>

    <div>Malay:
        <div class="btn-group">
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.my==0}" ng-model="user.lang.my" btn-radio="0">None</button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.my==1}" ng-model="user.lang.my" btn-radio="1">Beginner</button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.my==2}" ng-model="user.lang.my" btn-radio="2">Intermediate
            </button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.my==3}" ng-model="user.lang.my" btn-radio="3">Advanced</button>
        </div>
    </div>
    <div>English:
        <div class="btn-group">
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.en==0}" ng-model="user.lang.en" btn-radio="0">None</button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.en==1}" ng-model="user.lang.en" btn-radio="1">Beginner</button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.en==2}" ng-model="user.lang.en" btn-radio="2">Intermediate
            </button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.en==3}" ng-model="user.lang.en" btn-radio="3">Advanced</button>
        </div>
    </div>
    <div>Mandarin:
        <div class="btn-group">
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.mn==0}" ng-model="user.lang.mn" btn-radio="0">None</button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.mn==1}" ng-model="user.lang.mn" btn-radio="1">Beginner</button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.mn==2}" ng-model="user.lang.mn" btn-radio="2">Intermediate
            </button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.mn==3}" ng-model="user.lang.mn" btn-radio="3">Advanced</button>
        </div>
    </div>
    <div>Tamil:
        <div class="btn-group">
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.tm==0}" ng-model="user.lang.tm" btn-radio="0">None</button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.tm==1}" ng-model="user.lang.tm" btn-radio="1">Beginner</button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.tm==2}" ng-model="user.lang.tm" btn-radio="2">Intermediate
            </button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.tm==3}" ng-model="user.lang.tm" btn-radio="3">Advanced</button>
        </div>
    </div>

    <h5>Education:</h5>
    STM:
    <button type="button" class="btn"  ng-class="{'btn-success': user.education.stm}" ng-model="user.education.stm" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" >
        {{user.education.stm | yesNo}}
    </button><br>
    Bachelor:
    <button type="button" class="btn" ng-class="{'btn-success': user.education.bachelor}" ng-model="user.education.bachelor" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" >
        {{user.education.bachelor | yesNo}}
    </button>




</div>