<div class="container">
    <h2>{{__.profile | i18n}}: {{user | username}}</h2>

    <p>{{__.pleseFillProfile | i18n}}</p>
    <label>{{__.name | i18n}}:</label>
        <input type="text" ng-model="user.name.first" placeholder="{{__.firstName | i18n}}" tooltip="{{__.realName | i18n}}" tooltip-trigger="focus">
        <input type="text" ng-model="user.name.middle" placeholder="{{__.middleName | i18n}}" tooltip="{{__.canLeaveBlank | i18n}}" tooltip-trigger="focus">
        <input type="text" ng-model="user.name.last" placeholder="{{__.lastName | i18n}}" >
    <label class="checkbox">{{__.hideLastName | i18n}}:<input type="checkbox" ng-model="user.name.shy"></label>
    <label>{{__.mobilePhone | i18n}}:
    <span class="input-prepend">
        <span class="add-on">+6</span>
        <input class="span2" type="text" ng-model="user.phone" placeholder="016 999 99 99">
    </span>
    </label>
    <label>{{__.age | i18n}}:
        <input class="input-mini" type="number" ng-model="user.age" step="1"></label>
    <label>{{__.rate | i18n}}:
    <div class="input-prepend input-append">
        <span class="add-on">RM</span>
        <input class="input-mini" type="number" ng-model="user.rate" value="0" step="0.1">
        <span class="add-on">/{{__.hour | i18n}}</span>
    </div></label>


    <label>{{__.location | i18n}}:<select ng-model=user.location>
        <option ng-repeat="loc in defaults.locations">{{loc}}</option>
    </select></label>
    <h4>{{__.langProf | i18n}}:</h4>

    <div>{{__.langMy | i18n}}:
        <div class="btn-group">
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.my==0}" ng-model="user.lang.my" btn-radio="0">{{__.none | i18n}}</button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.my==1}" ng-model="user.lang.my" btn-radio="1">{{__.beginner | i18n}}</button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.my==2}" ng-model="user.lang.my" btn-radio="2">{{__.intermediate | i18n}}
            </button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.my==3}" ng-model="user.lang.my" btn-radio="3">{{__.advanced | i18n}}</button>
        </div>
    </div>
    <div>{{__.langEn | i18n}}:
        <div class="btn-group">
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.en==0}" ng-model="user.lang.en" btn-radio="0">{{__.none | i18n}}</button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.en==1}" ng-model="user.lang.en" btn-radio="1">{{__.beginner | i18n}}</button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.en==2}" ng-model="user.lang.en" btn-radio="2">{{__.intermediate | i18n}}
            </button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.en==3}" ng-model="user.lang.en" btn-radio="3">{{__.advanced | i18n}}</button>
        </div>
    </div>
    <div>{{__.langMn | i18n}}:
        <div class="btn-group">
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.mn==0}" ng-model="user.lang.mn" btn-radio="0">{{__.none | i18n}}</button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.mn==1}" ng-model="user.lang.mn" btn-radio="1">{{__.beginner | i18n}}</button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.mn==2}" ng-model="user.lang.mn" btn-radio="2">{{__.intermediate | i18n}}
            </button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.mn==3}" ng-model="user.lang.mn" btn-radio="3">{{__.advanced | i18n}}</button>
        </div>
    </div>
    <div>{{__.langTm | i18n}}:
        <div class="btn-group">
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.tm==0}" ng-model="user.lang.tm" btn-radio="0">{{__.none | i18n}}</button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.tm==1}" ng-model="user.lang.tm" btn-radio="1">{{__.beginner | i18n}}</button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.tm==2}" ng-model="user.lang.tm" btn-radio="2">{{__.intermediate | i18n}}
            </button>
            <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.lang.tm==3}" ng-model="user.lang.tm" btn-radio="3">{{__.advanced | i18n}}</button>
        </div>
    </div>

    <h4>{{__.education | i18n}}:</h4>
    {{__.school | i18n}}:
    <div class="btn-group">
        <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.education==0}" ng-model="user.education" btn-radio="0">{{__.none | i18n}}</button>
        <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.education==1}" ng-model="user.education" btn-radio="1">{{__.school | i18n}}</button>
        <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.education==2}" ng-model="user.education" btn-radio="2">{{__.bachelor | i18n}}
        </button>
        <button type="button" class="btn btn-mini" ng-class="{'btn-success': user.education==3}" ng-model="user.education" btn-radio="3">{{__.masters | i18n}}</button>
    </div>
    <h4>Special options:</h4>
    {{__.publishMyProfile | i18n}}:
    <button type="button" class="btn" ng-class="{'btn-success': user.publish}" ng-model="user.publish" btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false" >
        {{user.publish | yesNo : __ | i18n}}
    </button> <span ng-hide="user.publish" class="label label-important">{{__.nobodyWillFind | i18n}} {{defaults.domain}}!</span>




</div>